body {
    background-color: grey;
}

.header {
    background-color: black;
    height: 80px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}



.media {
    margin-bottom: 10px;
}

h3, p {

color:white;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align:center;
}

button{
    height:40px;
    width:80px;
    background:whitesmoke;
    margin-top:20px;
    
    
}
.button_search{
    text-align: center; 
}


#user{
    height:40px; 
    width:350px;
    background: url('../images/200w.gif') no-repeat #ffffff;
        background-position: 98% 50%;
        background-size:40px 40px;
}

.more-options-ctn
{
color: #ffffff;
text-align:center;
margin-left: 250px;
}

/*#gif-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #000;
	background-size: auto;
	background-repeat: no-repeat;
    background-position: center;
    
}

